body{
  font-family: 'Lato';
}

.contenedor-principal{
   width:100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: center ;
   align-items: center ;
}

#login{
  background-color: lightblue;
}

.middle p{
  margin-top: 0px;
  font-weight: bold;
  font-size: 20px;
}

.middle{
  margin-top: 80px;
  text-align: center;
  width: 100%;
  height: 440px;
}

.info-centro img{
  width: auto;
  height: 200px;
}

header{
    display: flex;
    height:50px;
    text-align: center;
    justify-content: space-between;
    flex: 1 100%;
}

footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.social{
  display: flex;
  justify-content: space-between;
  width: 25%;
}


i{
  font-size: 40px;
  color: #00ADEE;
}

header h1{
  margin-top: 7px;
}

#logotipo{
  width: 100px;
}

header img{
  height: 100%;
  width: auto;
}

/* Estilo de botones */
.button, .button span {
   display: inline-block;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}
.button {
   white-space: nowrap;
   line-height:1em;
   position:relative;
   outline: none;
   overflow: visible;
   cursor: pointer;
   border: 1px solid #999;
   border: rgba(0, 0, 0, .2) 1px solid;
   border-bottom:rgba(0, 0, 0, .4) 1px solid;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   box-shadow: 0 1px 2px rgba(0,0,0,.2);
   background: -moz-linear-gradient(
      center top,
      rgba(255, 255, 255, .1) 0%,
      rgba(0, 0, 0, .1) 100%
   );
   background: -webkit-gradient(
      linear,
      center bottom,
      center top,
      from(rgba(0, 0, 0, .1)),
      to(rgba(255, 255, 255, .1))
   );
   -moz-user-select: none;
   -webkit-user-select:none;
   -khtml-user-select: none;
   user-select: none;
   margin-bottom:10px;
}
.button.full, .button.full span {
   display: block;
}
.button:hover, .button.hover {
   background: -moz-linear-gradient(
      center top,
      rgba(255, 255, 255, .2) 0%,
      rgba(255, 255, 255, .1) 100%
   );
   background: -webkit-gradient(
      linear,
      center bottom,
      center top,
      from(rgba(255, 255, 255, .1)),
      to(rgba(255, 255, 255, .2))
   );
}
.button:active, .button.active {
   top:1px;
}
.button span {
   position: relative;
   color:#fff;
   text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
   border-top: rgba(255, 255, 255, .2) 1px solid;
   padding:0.5em 1.3em;
   padding-bottom: 0.7em;
   line-height:1em;
   text-align:center;
   white-space: nowrap;
}

.button.pequeno span {
   font-size: 15px;
}
.button.mediano span {
   font-size:16px;
}
.button.grande span {
   font-size:22px;
}

.button.rojo {
   background-color: #e62727;
}
.button.naranja {
   background-color: #ff5c00;
}

.button.azul {
   background-color: #00ADEE;
}

.button.blanco{
  background-color: white;
}

.button.blanco span{
  color: #00ADEE;
}

A{
   color: #0000cc;
   text-decoration: none;
}




/* .flex-container{
    width:90%;
    max-width:960px;
    min-width:320px;
    margin:20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center ;
    align-items: center ;
    align-content: stretch;

}

.item{
    color:#fff;
    text-align:center;
    margin:0 auto;
    font-size:25px;
}

header{
    height:100px;
    background-color:black;
    overflow:hidden;
    text-align:center;

    flex: 1 100%;
}
header h1{
    line-height:100px;
    margin:0;
    font-size:35px;
    float:left;
    width:40%;
    padding-left:20px;
    box-sizing:border-box;
}
header nav{
    float:left;
    width:60%;
    line-height:100px;
    padding-right:20px;
    box-sizing:border-box;
}
header ul{
    list-style-type:none;
    margin:0;
    padding:0;

    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header ul li{
    margin:0 5px;
    font-size:20px;
    cursor:pointer;
    color:#D5C5C5;
}
header ul li:hover{
    color:#fff;
}
#cuerpo{
    background-color:tomato;
    height:500px;
    line-height:500px;

    flex: 4 auto;
}
aside{
    background-color:lightblue;
    height:500px;
    line-height:500px;

    flex: 1 auto;

}
footer{
    height:100px;
    line-height:100px;
    background-color:lightslategrey;

    flex: 1 100%;
}

@media screen and (max-width: 600px) {

    header nav{
        line-height:31px;
    }
    header ul{
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }
    header ul li{
        margin-bottom:2px;
    }


    header{
        order:0;
    }

    #cuerpo{
        flex: 1 100%;
        order:2;
    }

    aside{
        flex: 1 100%;
        order:1;
    }

    footer{
        order:3;
    }

}

Rerun */
