main{
  display: flex;
  width: 100%;
  height: 600px;
  /* border: 5px solid black; */
  /* justify-content:center; */
  /* align-items: center; */
}

.contenido-principal{
  /* border: 5px solid black; */
  width: 80%;
}

.menu-lateral-izquierdo{
  display: flex;
  /* flex-direction: column; */
  flex-flow: column wrap;
  /* justify-content: center; */
  align-items: stretch;
  width: 25%;

  border-right: 0.5px solid #E5E5E5;
  /* border: 5px solid black; */
}

.primer-contenido{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.menu-lateral-izquierdo h4{
  margin-top: 0px;
}

.menu-lateral-izquierdo a{
  text-decoration: none;
}

#opciones-menu{
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}

#opciones-menu li a{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  color: black;
  align-items: center;
}

#opciones-menu li{
  display: flex;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 46px;
  align-items: center;
}

#opciones-menu a:hover{
    background: #3F9DD6;
    color: white;
}

#foto-usuario{
  height: 100px;
  width:100px;
  margin-top: 50px;
}

.main-header{
  display: flex;

  border-bottom: 0.5px solid #E5E5E5;
  height: 70px;
}

#pestanas{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  /* border: 5px solid black; */
  width: 50%;
  padding-left: 15px;
  padding-bottom: 0px;
}

#pestanas li{
    list-style-type: none;
    /* float: left; */
    /* text-align: center; */
    margin: 0px 2px -2px -0px;
    /* background: darkgrey; */
    /* border: 2px solid bisque; */
    /* border-bottom: dimgray; */
    height: 23px;
    padding: 30px 20px 0px 20px;
}

#pestanas li:hover{
  border-bottom: 2.7px solid #3F9DD6;
}

#pestanas ul{
  display: flex;
  height: 45px;
  /* border: 5px solid black; */
  padding-left: 0px;
}

#pestanas ul li{
  /* border: 5px solid black; */
}

#pestanas li a{
  text-decoration: none;
  color: black;
}
